/* RESET */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS
    #3161e0
*/

/* GLOBALS */

body{
    font-family: 'Whitney', sans-serif;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: #fff;
}

p{
    line-height: 1.5;
}

button.btn{
    border-radius: 1.7rem;
    border: none;
}

.btn-sm{
    padding: .75rem;
}

.btn-lg{
    padding: 1rem 1.75rem;
    font-size: 1.1rem;
}

.btn-white{
    background-color: #fff;
    color: #000;
}

.btn-black{
    background-color: #000;
    color: #fff;
}

.btn-special{
    background-color: #8ea1e1;
    color: #fff;
}

.container{
    width: 70%;
    margin: 0 auto;
    max-width: 1110px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.text-aling-ct{
    text-align: center;
}

.text-align-end{
    text-align: end;
}

/* HEADER */

header{
    line-height: 5rem;
    background-color: #3161e0;
}

.logo, .login{
    width: 20%;
}

.logo img{
    vertical-align: middle;
}

.nav_bar{
    width: calc(100% - 40%);
}

.nav_bar ul li{
    display: inline;
    list-style-type: none;
}

.nav_bar ul li:not(:last-child){
    margin-right: 2.5rem;
}

/* MAIN */

/* SECTIOIN HERO */

section.hero{
    height: 33.75rem;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 10.38rem;
}

.main_hero{
    /* width: 40.44rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero__title{
    font-size: 4rem;
    margin-bottom: 2.63rem;
}

.hero__text{
    margin-bottom: 1.5rem;
}

.main_hero button:last-of-type{
    margin-left: 1.56rem;
}

/* FEATURES */

.features__img{
    width: 75%;
}

.features__text{
    width: 25%;
    line-height: auto;
}

.features__title{
    font-size: 2.38rem;
    line-height: 1.2;
}