/* RESET */
html{
    font-size: 62.5%;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS
    #3161e0
*/



/* GLOBALS */

body{
    font-family: 'Whitney', sans-serif;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

button.btn{
    padding: 1.2rem;
    border-radius: 2.5rem;
    border: none;
    background-color: #fff;
}

.container{
    width: 70%;
    margin: 0 auto;
    max-width: 1440px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float_left{
    float: left;
}

.text_aling_ct{
    text-align: center;
}

/* HEADER */

header{
    /* border: 1px solid red; */
    height: 8rem;
    line-height: 8rem;
    background-color: #3161e0;
}

.logo, .login{
    width: 20%;
}

.logo img{
    vertical-align: middle;
}

.nav_bar{
    width: calc(100% - 40%);
}

.nav_bar ul li{
    display: inline;
    list-style-type: none;
}

.nav_bar ul li:not(:last-child){
    margin-right: 4rem;
}

.login{
    text-align: end;
}
